/* Add styles for dark mode */
.dark-mode {
background-color: #352F3F;
color: #ECECDC;
}
.dark-mode .section-title {
color: #ECECDC;
}
.dark-mode .project-title {
color: #ECECDC;
}
.dark-mode .skill-title {
color: #ECECDC;
}
.dark-mode .skill-level {
background-color: #ECECDC;
}
.dark-mode .section-text {
color: #ECECDC;
}

.dark-mode .form-group {
color: #ECECDC;
}

.dark-mode .form-control {
color: #ECECDC;
}

.dark-mode .pico-text-muted {
color: #ECECDC;
}

/* Skill Card */
.card {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 80%;
max-width: 400px;
background-color: #ffffff;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 8px;
z-index: 1;
display: none;
transition: display 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;
text-align: center;
object-fit: contain;
}

.card-title {
margin: 0;
top: 14px;
padding: 28px;
font-size: 22px;
font-weight: bold;
text-align: center;
color: #352f3f;
object-fit: contain;

}


.description {
margin: 0;
padding: 25px;
padding-bottom: 50px;
bottom: 50px;
font-size: 16px;
line-height: 1.5;
color: #352f3f;
text-align: center;
object-fit: contain;

}

.card .description iframe {
width: 100%;
height: 100%;
padding: 10px;
}

/* Close Button */
.card .skill-card-close-btn {
position: absolute;
top: 4px;
right: 8px;
width: 32px;
height: 32px;
background-color: transparent;
border: none;
font-size: 22px;
font-weight: bold;
color: #352f3f;
cursor: pointer;
}

.card .skill-card-close-btn:hover {
color: #d6e6ff;
}

/* Navbar */
.pico-navbar {
align-items: center;
position: relative; /* make the navbar fixed */
top: 0; /* position the navbar at the top of the page */
left: 50%; /* position the navbar at the center of the page */
transform: translateX(-50%); /* align the navbar to the center */
height: 80px; /* set the height of the navbar */
transition: transform 0.3s ease-out; /* add a transition effect when the navbar is shown or hidden */
}

.pico-nav-item {
font-size: 22px;
}

.form-group {
font-size: 28px;
}

.project-title {
font-family: 'IBM Plex Mono', monospace, sans-serif;
font-size: 24px;
justify-content-center;
}

.section-title {
font-family: 'IBM Plex Mono', monospace, sans-serif;
}

#open_button {
position: relative;
width: 200px;
max-width: 75%;
text-align: center;
display: flex;
flex-wrap: nowrap;
justify-content: center;
}



body {
font-family: 'IBM Plex Mono', monospace, sans-serif;
font-size: 24px;
}

.section-text {
font-size: 24px;
}

.section-subheader {
font-size: 30px;
font-family: 'VT323', monospace, sans-serif;
}

#skill-description {
font-size: 22px;
}

.modal {
font-size: 22px;
}

#pico-close {
display: block;
}

#project-close {
float: right;
font-family: 'IBM Plex Mono', monospace, sans-serif;
}

#project-close:hover {
color: #ff00ff;
cursor: pointer;
transition: color 0.1s ease;
}

#modalh3 {
font-family: 'IBM Plex Mono', monospace, sans-serif;
}

.project-image {
border-radius: 2% 2% 2% 2%;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
position: relative;
cursor: pointer;
}

.project-container {
position: relative;
display: flex;
align-items: center;
transition: transform 0.3s ease-out;
}

.open-text {
display: none;
position: absolute;
width: 200px;
max-width: 25%;
left: 25%;
text-align: center;
background-color: #333;
color: #fff;
border-radius: 5px;
cursor: pointer;
font-size: 12px;
transition: transform 0.3s ease-out;
}

.open-text:hover {
background-color: #444;
}

.project-container:hover .project-image {
filter: blur(2px);
}

.project-container:hover {
transform: scale(1.1) translateY(-5px);
}
.project-container:hover .open-text {
font-size: 24px;
color: white;
font-weight: bold;
display: block;
transform: scale(1.1);
}

#skill-card-canvas {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
pointer-events: none;
}

.skill {
font-family: 'VT323', monospace, sans-serif;
font-size: 34px;
transition: all 0.2s ease-in-out;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
transform: translateY(0);
}

.skill:hover {
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
transform: translateY(-2px);
}

.skill:active {
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
transform: translateY(2px);
}

#skill-card {
background-color: #f5f5f5; /* Light gray color */
border: 1px solid #ccc; /* Light gray border */
border-radius: 10px; /* Rounded corners */
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); /* Drop shadow */
padding: 20px; /* Padding */
}


#skill-card .card-title {
font-family: 'Press Start 2P', cursive;
}

@media (prefers-color-scheme: light) {
body {
  background-color: #ffffff;
  color: #352F3F;
}
}