<section id="about" class="section pico-section">
  <div class="container">
    <h2 class="section-title about-title">Yonatan Rotem</h2>
    <p class="section-text">As a proactive and knowledgeable professional with a background in Financial Services and Client Services Management, I have a track record of achieving great results and providing outstanding support to clients and businesses. I have exceptional analysis and problem solving skills, and I am always looking for ways to deliver innovative solutions that align with business strategies and goals.</p>
    <p class="section-text">In recent years, I have become passionate about software development and have gained experience in various programming languages including Python, JavaScript, HTML, and CSS, as well as proficiency in the Microsoft Power Suite. I am excited to transition my career into this field and use my skills and expertise to create impactful and meaningful software solutions.</p>
    <p class="section-text">Through my portfolio website, I hope to showcase my abilities and share my projects with you. Thank you for visiting and please feel free to reach out if you have any questions or opportunities for collaboration.</p>
  </div>
</section>
